* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif, Helvetica, Arial;
    text-decoration: none;
}

body {
    /*background: url(../assets/img/background-genesys-image.png) #f4f4f4;*/
    margin-left: 25px;
}

/*Clear floated elements*/

.clearfix {
    clear: both;
    float: none;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    color: rgba(3, 31, 59, 0.89);
    font-style: inherit;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    color: rgba(69, 110, 22, 0.9);
    font-style: normal;
}

h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    color: rgba(85, 49, 15, 0.9);
    font-style: italic;
}

#title {
    width: 85%;
    height: 100px;
    background: transparent;
    margin: 0px auto;
    float: left;
    margin-top: 20px;
}

#title a:hover {
    cursor: pointer;
}

#menu {
    width: 100%;
    clear: both;
    height: 40px;
}

#menu ul {
    list-style: none;
    overflow: hidden;
}

#menu ul li {
    float: left;
    line-height: 40px;
    border-right: 1px solid #d6d6d6;
}

#menu ul li:hover {
    cursor: pointer;
}

#menu ul li a {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    color: #383737;
}

#container {
    width: 85%;
    min-height: 900px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#sidebar {
    float: right;
    width: 25%;
    min-height: 900px;
}

#main-content {
    float: left;
    width: 60%;
    min-height: 900px;
    border-radius: 5px;
    box-shadow: #eeeeee;
    margin-left: 20px;
    padding: 20px;
    overflow: hidden;
    margin-top: 20px;
}

#main-content h2 {
    margin-top: 10px;
}

#main-content h3 {
    margin-top: 10px;
}

#main-content p {
    margin-top: 10px;
}

#sidebar{
    width: 27%;
    
}

.nav-block{
    display: block;
    width: 90%;
    margin-left: 10px;
    margin-right: 10px;
    margin: 20px auto;
    background: white;
    padding: 15px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
    border: 1px solid #156785;
}

.nav-block h3{
    margin-bottom: 14px;
}

label,
input[type="text"],
input[type="email"],
input[type="password"] {
    display: block;
    width: 95%;
    margin-top: 2px;
    margin-bottom: 2px;
}

input[type="submit"],
input[type="button"]{
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
    border-radius: 2px;
    color: white;
    background:  rgba(3, 31, 59, 0.89);
    border: 1px solid #156785;
    cursor: pointer;
    padding: 6px;
}

footer{
    clear: both;
    width: 85%;
    margin: 0px auto;
    padding: 20px;
    height: auto;
    text-align: center;
}